<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><!--# block name="title" -->Ulon<!--# endblock --></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/styles/css-effects.css">

        <link rel="icon" type="/image/gif" href="cd-rotate.gif">
        
        <script src="/js/effects/parallax.js" defer></script>
        <script src="/js/effects/moving-letters.js" defer></script>
        <script src="/js/widgets/current-status.js" defer></script>
        <script src="/js/widgets/nekoweb-api.js" defer></script>
        <script src="/js/neocities/visitors.js" defer></script>
        <script type="module" src="/js/script.js" defer></script>

        

    </head>
    
    <!-- WINDOW SETUP
        <div class="frame">
            <div class="w-bar"><p>Surfing...</p> <button class="frame w-close-button">X</button></div>
            <div class="content-frame white-bg">Content</div>
        </div>
        --
    -->
    
    <body>
        <div class="parallax-container">
            <div class="parallax-bg" id="parallax-bg"></div>
        </div>
        
        <div class="layout" style="min-height: 1000px;">
                <div class="vertical-flex">
                    <!----------------- HEADER ----------------->
                    <div class="frame" style="max-height: 110px; width: 100%;">
                        <div class="w-bar"><p>ULON WEBHOME</p></div>
                        <div class="center-div" style="translate: -20px;">
                            <img src="/images/titles/ULON.png" alt="ULON" style="translate: 0px -33px; rotate: 5deg;">
                            <h1 style="translate: -5px -30px; scale: 1.6; rotate: 15deg; color: rgb(53, 73, 161);">'S</h1>
                            <img src="/images/titles/head.gif" alt="ULON" style="translate: 0px -33px; rotate: -5deg;">
                        </div>
                    </div>

                    <!----------------- WARNING MARQUEE ----------------->
                    <div class="marquee">
                        <div class="marquee__content">
                            <span>I'm remaking my website in actual HTML now. I still love the Godot version, but I need to let it go...</span>
                            <span>I'm remaking my website in actual HTML now. I still love the Godot version, but I need to let it go...</span>
                        </div>
                        <div class="marquee__content" aria-hidden="true">
                            <span>I'm remaking my website in actual HTML now. I still love the Godot version, but I need to let it go...</span>
                            <span>I'm remaking my website in actual HTML now. I still love the Godot version, but I need to let it go...</span>
                        </div>
                    </div>
                    
                    
                    <!----------------- LAYOUTBLOCK ----------------->
                    <div style="min-height: 100px; position: relative; display: grid;">
                        <div class="frame" style="height: 100%; filter: brightness(.6); opacity: .3; grid-area: 1 / 1;"></div>
                        <div class="layout-scaler" style="z-index: 2; ">
                            <div class="layout">
                                <!--# block name="left-sidebar" -->
                                    <!--# include file="~/_includes/left-main-sidebar.html" -->
                                <!--# endblock-->
                                







                                <!-- MAIN CONTENT -->
                                <div id="swup" class="flex-item " style="flex-grow: 4;">
                                    <!--# block name="content" --><!--# endblock -->
                                </div>
                                


                                





                                


                                <!-- RIGHT SIDE BAR
                                <div class="flex-item side-bar">

                                    
                                    
                                </div> -->

                                
                            </div>

                            <div class="marquee" style="gap: 0; --duration: 25s; --direction: reverse;">
                                <div class="marquee__content" style="gap: 0; overflow: visible;">
                                    <img class="stamp-button" src="/images/stamps/88x31nocookie.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/148.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/2020SUCKS.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/best_viewed_in_landscape.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/bestview.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/bestvieweddesktop.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/eyes2.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/fireskull.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/foreveronline2.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/halflife.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/iwishicouldgobackintime.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/loopdeloop_20.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/music.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/nintendo-hh-3ds.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/playstation.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/stop_microsoft.gif" alt="">
                                    <a href="https://ulon.nekoweb.org" target="_blank"><img class="stamp-button" src="/images/stamps/ulon_button.gif" alt=""></a>
                                    <img class="stamp-button" src="/images/stamps/web.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/wingun.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/xp.gif" alt="">
                                    <a href="https://status.cafe" target="_blank"><img class="stamp-button" src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>
                                </div>
                                <div class="marquee__content" aria-hidden="true" style="gap: 0; --duration: 25s; --direction: reverse;">
                                    <img class="stamp-button" src="/images/stamps/88x31nocookie.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/148.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/2020SUCKS.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/best_viewed_in_landscape.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/bestview.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/bestvieweddesktop.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/eyes2.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/fireskull.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/foreveronline2.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/halflife.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/iwishicouldgobackintime.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/loopdeloop_20.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/music.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/nintendo-hh-3ds.png" alt="">
                                    <img class="stamp-button" src="/images/stamps/playstation.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/stop_microsoft.gif" alt="">
                                    <a href="https://ulon.nekoweb.org" target="_blank"><img class="stamp-button" src="/images/stamps/ulon_button.gif" alt=""></a>
                                    <img class="stamp-button" src="/images/stamps/web.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/wingun.gif" alt="">
                                    <img class="stamp-button" src="/images/stamps/xp.gif" alt="">
                                    <a href="https://status.cafe" target="_blank"><img class="stamp-button" src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>

                    

                    
                </div>
            </div>
    </body>
    <script src="https://unpkg.com/swup@4"></script>
    <script>
        const swup = new Swup();
    </script>
</html>