<!-- LEFT SIDE BAR -->
<div class="flex-item side-bar">

    <!-- NAVIGATION WINDOW -->
    <div class="frame">
        <div class="w-bar" style="display: flex; max-height: 100px;">
            <p>Navigate Around</p> 
            <button class="frame w-close-button">X</button>
        </div>
        <div class="content-frame white-bg no-underline" style="padding: 1px; display: flex; flex-direction: column; gap: 1px;">
            <a class="no-underline" href="/index.html">
                <button class="normal-button navigation-button">Home</button>
            </a>
            <button class="normal-button navigation-button">
                <div class="navigation-button-img" style="scale: .8; rotate: -10deg; translate: -95px 20px;"></div>
                
                <span style="z-index: 1;">Blog</span>
            </button>
            <a class="no-underline" href="/about/index.html">
                <button class="normal-button navigation-button">
                    <div class="navigation-button-img" style="background-image: url(/images/navigation-buttons/webmaster-nav-img.png); scale: -.4 .4; rotate: -10deg; translate: -40px 5px"></div>
                    
                    <span style="z-index: 1;">Webmaster</span>
                </button>
            </a>
            <button class="normal-button navigation-button">
                <div class="navigation-button-img" style="background-image: url(/images/navigation-buttons/games-nav-img.png); width: 500px; scale: -.4 .4; rotate: -10deg; translate: -180px -5px; background-position: -130px;" ></div>
                
                <span style="z-index: 1;">Games</span>
            </button>
            <button class="normal-button navigation-button">
                
                <span style="z-index: 1;">Ulon.FM</span>
            </button>
            <button class="normal-button navigation-button">
                
                <span style="z-index: 1;">Gallery</span>
            </button>
            <button class="normal-button navigation-button">
                
                <span style="z-index: 1;">Guestbook</span>
            </button>
            <button class="normal-button navigation-button">
                
                <span style="z-index: 1;">Resources</span>
            </button>
            <button class="normal-button navigation-button">
                
                <span style="z-index: 1;">Neighbours</span>
            </button>
        </div>
    </div>

    <!-- STATUS WINDOW -->
    <div class="frame" style="min-width: 267px;">
        <div class="w-bar" style="display: flex; justify-content: center;">
            About me
            
        </div>
        <div class="content-frame white-bg" style="padding: 5px; padding-bottom: 0; text-align: center;">
            <div id="statuscafe" style="padding: 5px;">
                <div class="horizontal-flex" style="flex-wrap: nowrap;">
                    <img src="/images/profiles/new_pic_smaller.jpg" alt="" style="max-height: 80px; max-width: 80px; object-fit: contain; flex-shrink: 1;">
                    <div class="v-flex" style="align-items: flex-start; gap: 0px; flex-shrink: 1;">
                        <div id="statuscafe-username" style="text-transform: uppercase;"></div>
                        <p>21 years old</p>
                        <p>Non-Binary</p>
                        <p>Mood:<a href="https://www.imood.com/users/Ulon"><img class="imood-widget" src="https://moods.imood.com/display/uname-Ulon/trans-1/imood.gif" alt="www.imood.com" border="0"></a></p>
                    </div>
                </div>
                <hr style="margin-top: 5px; margin-bottom: 5px;">
                Current status:
                <div class="frame" style="box-shadow: none;">
                    <div id="statuscafe-content"></div>
                    <div id="statuscafe-time" style="color: gray;"></div>
                </div>
                
            </div> 
        </div>
    </div>

    <!-- VISITOR COUNTER -->
    <div class="frame">
        <div class="w-bar" style="display: flex; max-height: 100px;">
            <p> VISITOR COUNTER</p>
        </div>
        <div class="content-frame white-bg" style="text-align: center; background-color: rgb(22, 22, 22); gap: 10px; display: flex; flex-direction: column;">
            <div class="fire">
                <!-- ACTUALL VISITORS-->
                <p id="visitors" class="visitor-counter-label outlined-text">Nekoweb: <!--# views --></p>
                <p class="visitor-counter-label outlined-text" id="visitor-count">Neocities: ...</p>
            </div>
        </div>
    </div>
    
    <!-- OLD WEBSITE BUTTON -->
    <a class="no-underline" href="https://ulon.nekoweb.org" target="_blank">
        <button class="normal-button window-shadow" style="width: 100%;">
            <div class="center-div" style="gap: 5px;">
                <p style="flex-grow: 1;">OLD WEBSITE</p>
                
                <img src="images/icons/favicons/favicon.png" alt="" style="width:  40px; image-rendering: pixelated;">
            </div>
        </button>
    </a>

    <!-- FOLLOWER COUNTER -->
    <div class="frame">
        <div class="w-bar low-sat-rainbow" style="display: flex; max-height: 100px;">
            <p style="color: black;"> FOLLOWERS</p>
        </div>
        <div class="content-frame white-bg " style="text-align: center; background-color: rgb(22, 22, 22); gap: 10px; display: flex; flex-direction: column;">
            <div style="display: flex;">
                <!-- FOLLOWERS CONTENT-->
                <div class="center-div" style="display: flex; flex-direction: column; flex-grow: 1;">
                    <p id="followers" class="outlined-text" style="color: white; translate: 0px 0px; translate: -10px 0px; letter-spacing: 3px;"><!--# followers --></p>
                    
                </div>
                <!-- WIZARD GIF LOL-->
                <div style="min-height: 50px; position: relative; min-width: 100px;">
                    <img src="https://ulon.dev/images/gifs/wizard_pc.gif" alt="wizard lol" style="position: absolute; left: -70px; top: -140px; scale: -.7 .7; pointer-events: none;">
                </div>
            </div>
        </div>
        <a href="https://nekoweb.org/follow/ulon.dev" class="no-underline" target="_blank">
            <button class="normal-button no-underline" style="rotate: -2deg; width: 100%; left: -20px; bottom: 16px;">Follow on Nekoweb</button>
        </a>
        <a href="https://neocities.org/site/ulon" class="no-underline" target="_blank">
            <button class="normal-button no-underline" style="rotate: -2deg; width: 100%; left: -20px; bottom: -30px; font-size: x-large;">Follow on Neocities</button>
        </a>
    </div>

</div>