
@font-face {
    font-family: plumbum;
    src: url(fonts/Plumbum.ttf);
}
@font-face {
    font-family: monogram;
    src: url(fonts/monogram.ttf);
}
@font-face {
    font-family: matchup;
    src: url(fonts/MatchupPro.ttf);
}
@font-face {
    font-family: karenfat;
    src: url(fonts/KarenFat.ttf);
}
@font-face {
    font-family: nope8;
    src: url(fonts/Nope_8.ttf);
}

* {
    font-family: monogram, plumbum, matchup, nope8;

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que bordas e paddings não estoure a tela */
}

:root {
    /* TEXT VARS */
    --font-size: 28px;
    
    /* TEXT COLORS */
    --high-strong: #FF0000;
    --high-light: #0000FF;





    /* BG COLORS */
    --w-gradient-dark: #1B1852;
    --w-gradient-light: #4B5DE0;

    /* THEME VARS */
    --border-width: 4px;
    --shadow-size: 7px;
    --global-gap: 8px;

    --frame-color: #D3D3D3;
    --frame-light-color: #F2F2F2;
    --frame-dark-color: #818181;
    --frame-darker-color: #3f3f3f;

}


/*---------------------------- MAIN ELEMENTS ----------------------------*/

/* -------- TEXT CLASSES -------- */
h-strong {
    color: var(--high-strong);

}
h-light {
    color: var(--high-light);
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: black;
}

.outlined-text {
  font-size: 25px;
  font-family: karenfat;
  -webkit-text-fill-color: white; /* Core text color */
  -webkit-text-stroke: 5px black;
  paint-order: stroke fill;
  text-shadow: 4px  4px 0px #000;   /* The actual ambient drop shadow */

}

/* -------- OVERRIDES -------- */
.no-underline {
    text-decoration: none;
}
.no-shadow {
    box-shadow: none;
}
.window-shadow {
    box-shadow: var(--shadow-size) var(--shadow-size);
}
.flex-grow {
    flex-grow: 1;
}
.flex-base {
    flex-basis: 250px;
}

/* -------- BUTTONS -------- */

.normal-button {
    cursor: pointer;
    background-color: var(--frame-color);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--frame-light-color) var(--frame-dark-color) var(--frame-dark-color) var(--frame-light-color);
    padding: var(--border-width);

    font-size: var(--font-size);

    display: flex;
    flex-direction: column;

    width: 100%;
    color: black;

}
.normal-button:hover {
    filter: brightness(1.2);
}
.normal-button:active {
    filter: brightness(1);
    border-color: var(--frame-dark-color) var(--frame-light-color) var(--frame-light-color) var(--frame-dark-color);
    
}

.navigation-button {
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
    height: 32px;

    overflow: hidden;
    position: relative;
}
.navigation-button-img {
    position: absolute;
    pointer-events: none;
    
    background-image: url(images/navigation-buttons/blog-nav-img.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 40px 40px var(--frame-color) inset;
    left: -50px;

}

/* -------- SCROLLBAR -------- */
::-webkit-scrollbar {
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--w-gradient-light);
}
.inside-windows-scroll::-webkit-scrollbar-track {
    background-color: rgb(185, 185, 185);
}
::-webkit-scrollbar-thumb {
    background-color: var(--frame-color);
    border-style: solid;
    border-width: calc(var(--border-width)*.7);
    border-color: var(--frame-light-color) var(--frame-dark-color) var(--frame-dark-color) var(--frame-light-color);
    padding: var(--border-width);
}

/*---------------------------- LAYOUT CONTENT ----------------------------*/

body {
    /*
    background-image: url(images/backgrounds/winxp_bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    */

    width: 100%;
	overflow: auto;
}

.layout {
    width: 100%;
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-bottom: 13px;
}

/* FLEX BASE */
.vertical-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh; /* Preenche a tela com base no menor espaço visível */
    box-sizing: border-box; /* Garante que bordas e paddings não estoure a tela */

    padding: 40px;
    max-width: 1600px;
}

/* HORIZONTAL FLEX BASE */
.horizontal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--global-gap));
}

/* CONTENT */
.flex-item {
    height: auto;
    margin: 5px;
    flex: 1 1 0%;

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: calc(var(--global-gap));
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    position: relative;
}


.side-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: var(--global-gap);
}
.header {
    height: 100px;
    background: none;
}
.foster {
    height: 100px;
}

/*---------------------------- MAIN FRAME ----------------------------*/

.frame {
    background-color: var(--frame-color);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--frame-light-color) var(--frame-dark-color) var(--frame-dark-color) var(--frame-light-color);
    padding: var(--border-width);

    box-shadow: var(--shadow-size) var(--shadow-size);
    font-size: var(--font-size);

    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
    max-width: 100%;
    

    height: fit-content;
    
}
.frame .content-frame {
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--frame-dark-color) var(--frame-light-color) var(--frame-light-color) var(--frame-dark-color);
    padding: var(--border-width);
    min-width: 0;
    width: 100%;
    height: 100%;
}
.frame .white-bg {
    background-color: white;
}


.w-bar {
    text-align: center;
    color: white;
    padding: var(--border-width);
    margin-bottom: var(--border-width);
    background-image: linear-gradient(to right,var(--w-gradient-dark), var(--w-gradient-light));
    
    display: flex;
    align-items: center;

    max-height: 30px;
}

.w-bar p {
    flex-grow: 1;
    font-size: 30px;
    color: white;
}

.w-close-button {
    box-shadow: 3px 3px;

    --size : 10px;
    font-weight: bold;
    margin: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7px;

    height: var(--size);
    width: var(--size);
    max-height: var(--size);
    max-width: var(--size);

    cursor: pointer;
    font-size: large;
}
/*---------------------------- CHANGELOG CONTENT ----------------------------*/
.changelog-item {
    padding: 5px;
    margin-bottom: .9rem;
}

.changelog-item li {
    padding-left: 15px;
    line-height: 25px;
    margin-top: .8rem;
    margin-bottom: .9rem;
}

.changelog-item li::before {
    color: var(--high-light);
    content: "> ";
}
.changelog-item h3 {
    font-weight: bold;
    color: var(--high-light);
}

/*---------------------------- STAMPS ELEMENTS ----------------------------*/
.stamp-container {
    display: flex;
    flex-direction: row;
}
.stamp-button {
    transition: all .2s;
    background-color: #00000000;
    border-color: #00000000;
    cursor: pointer;
}
.stamp-button:hover {
    scale: 1.2;
}

/*---------------------------- BACKGROUNDS ----------------------------*/

.fire {
    background-image: url(https://ulon.dev/images/gifs/fire.gif);
    background-position: 0 -40px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------------- RAINBOW ------------*/
.low-sat-rainbow {
  background: repeating-linear-gradient(
    90deg,
    #ff6d7b 0%,
    #ffbb6e 16%,
    #ffff6e 33%,
    #6fff8e 50%,
    #71c1ff 66%,
    #cf6fff 83%,
    #ff6d7b 100%
  );
  background-size: 200% 100%;
  animation: shift-rainbow 2s linear infinite reverse;
}

@keyframes shift-rainbow {
  to {
    background-position: -200% 0;
  }
}

/*------------- IMAGE BLURRED EDGE ------------*/
.image-blurred-edge {
    background-image: url(images/stamps/88x31nocookie.gif);
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 8px 8px white inset;
    object-fit: fill;
}



/*---------------------------- FORMAT REWORK ----------------------------*/
@media screen and (max-width: 1155px) {
    .horizontal-flex {
        flex-direction: column;
    }
}